@import "mobile";
@import "grandEcran";

$color1: #F4F4F4;
$color2:  #696E75;
$color3:  #ebdfca;
$colopacity: RGBA(235,223,202,0.7);
$color4:  #415575;


@font-face {
  font-family: "FuturaPTBook";
  src: url("../fonts/FuturaPTBook.otf");
}

@font-face {
  font-family: "FuturaPTMedium";
  src: url("../fonts/FuturaPTMedium.otf");
}


iframe{
  z-index: 10;
}
html, body{
  font-family: "FuturaPTBook", arial, serif;
  scroll-behavior: smooth;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.titre{
  font-family: "FuturaPTMedium";
  font-size: 16vw;
//  width: 100vw;
//  background-color: blue;
//  height: 50vh;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slogan{
  font-size: 37%;
  display: block;
  position: relative;
  top: -3vh;
}



.arrow{
  transform: translate(50%, 50%);
}

.arrow span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid $color2;
  border-right: 3px solid $color2;
  position: relative;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}

@keyframes animate
{
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

//MENU








.reveal{
  opacity: 0;
  transform: translateY(-100px);
}

.reveal-visible{
  opacity: 1;
  transform: translateY(0);
  transition: .3s;
}


li{
  display: flex;
  list-style: none;
}

.colonne{
  margin-top: 1000px;
}

.colonnegauche{
  width: 15%;
}

.row{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}


.section2{
   color : $color3;
}

.section2 video, .section2 img{
background-color: $color3;
}

.section2 p{
  background-color: $color4;
}

p{
    font-size: 2.3vh;
}

h2{
  font-size: 5vw;
  display: block ;
  padding-right: 1vw;
  margin: 2vw;
  z-index: 2;
  display: flex;
  align-items: center;
  position: absolute;
}

video, img{
  cursor: pointer;

}


.section1 h2, .section3 h2, .section5 h2{
  background-color: $color3;
}

.section2 h2, .section4 h2, .section6 h2{
  background-color: $color4;
//  color : white;
 color : $color3;
}



// section 1


.section1 p{
  background-color: $color3;
}

.section1 video, .section1 img{
  padding: 2%;
  background-color: $color4;
}

.video_jeux{
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $colopacity;
  z-index: 9999;
  margin: 0;
  animation-duration: 1s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.35,.755,.42,.95);
  // cubic-bezier(1,.38,0,.87) cubic-bezier(.35,.755,.42,.95)
  display: flex;
  justify-content: center;
  align-items: center;
}

.video_jeux::after{
  font-family: "FuturaPTBook", arial, serif;
  font-size: 2vw;
  position: fixed;
  right : 5vw;
  top : 5vh;
  content:"FERMER";
  color: $color4;
  z-index: 60;
  border: 0.3vw solid $color4;
  cursor: pointer;
}

iframe{
  position: relative;
  width: 100vw;
  height: 100vh;
//  position: absolute;
  top: 0; left: 0;
//  width: 90%;
// background-color: blue;
//  height: 90%;
//  margin: 5vw;
  box-sizing: border-box;
  z-index: 25;
  margin: 10vw;

}


@keyframes slidein {
  from {
    transform: translate(-100vw); // rotate(-360deg);
  }

  to {
    transform:translate(0);
  }
}

@keyframes slideout {
  from {
      transform:translate(0);
  }

  to {
    transform: translate(-100vw);
  }
}


//section2

.section2 p, .section2 video, .section2 img{
  position: absolute;
}



// section 3
.section3 p{
  background-color: $color3;
}

.cercle{
  position: absolute;
  height: 25vw;
  width:25vw;
  left : 25vw;
  background-color: $color4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.cercle_play{
  position: absolute;
  left: 9vw ;
  border-left : 10vw solid $color3;
  border-right: 10vw solid transparent;
  border-bottom: 5vw solid transparent;
  border-top: 5vw solid transparent;
}

.cercle_pause{
  position: absolute;
  left : 9vw;
  width: 2vw;
  height: 8vw;
  background-color: $color3;
}

.cercle_pause:after{
  content:"";
  position: absolute;
  left : 5vw;
  width: 2vw;
  height: 8vw;
  background-color: $color3;
}









//section 4


.section4 iframe{
  padding: 2%;
  background-color: $color3;
}


//section 5

.section5 p {
  background-color: $color4;
  //color: white;
  color: $color3;
}




//section 6
.section6 p {
  background-color: $color3;
}










.active{
  transform : scale(1.3);
@media (min-width : 768px){
  transform-origin: 100% 50%;
}
}

.barre{
  width: 0.6vw;
  height: 3.6vw;
  background-color: $color4;
  margin-right: 8px;
  bottom: 0;
}


.barre2{
  background-color: $color3;
}











// COULEURS
body {
  background-color: $color1;
  color : $color4;
}

header{
  color : $color2;
}


.slogan1{
  position: fixed;
  font-family: "FuturaPTMedium";
//  font-size: 4600%;
  font-size: 40vw;
//  width: 100%;
//  height: 50vh;
//  left: -4vh;
//  text-align: center;
bottom: -20vw;
color : $color2;
  z-index: -5;
}
